<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE
        mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uomaep.mapper.UserDataMapper">
    <resultMap id="userData" type="UserDTO">
        <result property="id" column="id" />
        <result property="email" column="email" />
        <result property="password" column="password" />
        <result property="name" column="name" />
    </resultMap>

    <select id="findUserByEmail" resultMap="userData">
        select * from User where email = #{email};
    </select>

    <update id="updateRefreshToken" >
        update Token set refresh_token = #{token} where user_id = #{id};
    </update>

    <insert id="saveRefreshToken">
        insert into Token(user_id, refresh_token)
        values(#{id}, #{token});
    </insert>
</mapper>
